# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.ini

# Backend
/backend/chatbot.db
/backend/static/reports/

# Node.js / Angular
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log
angular.json.backup

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Fichiers d'environnement
backend/.env
frontend/.env
.env
*.env